{{!-- cartDetails.handlebars --}}
<h1>Detalles de tu Carrito</h1>

{{#if cart.products.length}}
    <ul>
        {{#each cart.products}}
            <li>
                Producto: {{this.product.name}}<br>
                Cantidad: {{this.quantity}}<br>
                Precio: ${{this.product.price}}<br>
                <form action="/api/carts/{{@../user._id}}/products" method="POST" style="display:inline;">
                    <input type="hidden" name="productId" value="{{this.product._id}}">
                    <input type="number" name="quantity" min="1" placeholder="Cantidad">
                    <button type="submit">Agregar Más</button>
                </form>
                <form action="/api/carts/{{@../user._id}}/products" method="DELETE" style="display:inline;">
                    <input type="hidden" name="productId" value="{{this.product._id}}">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {{/each}}
    </ul>
    <form action="/api/carts/{{user._id}}/purchase" method="POST">
        <button type="submit">Finalizar Compra</button>
    </form>
{{else}}
    <p>No hay productos en tu carrito.</p>
{{/if}}